<!DOCTYPE html>
<html lang="en" class="fontawesome-i2svg-active fontawesome-i2svg-complete" style="height: auto; min-height: 100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Usually browsers proactively perform domain name resolution on links that the user may choose to follow. We disable DNS prefetching here -->
    <meta http-equiv="x-dns-prefetch-control" content="off">
    <meta http-equiv="cache-control" content="max-age=60,private">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My Home Automation</title>
    <link rel="stylesheet" href="/pihole/css/pi-hole.css">
</head>
<body class="default-auto sidebar-mini layout-boxed logged-in" style="height: auto; min-height: 100%;">
    <div class="wrapper" style="overflow: hidden; height: auto; min-height: 100%;">
        <header class="main-header">
            <!-- Logo -->
            <a href="/admin/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">P<strong>h</strong></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">Pi-<strong>hole</strong></span>
            </a>
        </header>
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img class="logo-img" src="/pihole/img/logo.svg" alt="Pi-hole logo">
                    </div>
                </div>
            </section>
        </aside>
    </div>
    
</body>
</html>